.banner {
    margin: 5px auto;
    width: 750px;
    height: 510px;
    overflow: hidden;
    border: 10px solid;
    border-top-color: #3577ce;
    border-left-color: #3577ce;
    border-bottom-color: #3577ce;
    border-right-color: #3577ce;
    position: relative;
  }

  .photo {
    position: absolute;
    width: 750px;
    height: 510px;
    animation: round 16s infinite;
    opacity: 0;
  }
  
  @keyframes round {
    25% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
  }
  img:nth-child(1) {
    animation-delay: 12s;
  }
  
  img:nth-child(2) {
    animation-delay: 8s;
  }
  
  img:nth-child(3) {
    animation-delay: 4s;
  }
  
  img:nth-child(4) {
    animation-delay: 0s;
  }